nav2 {
    background: rgba(0, 0, 0, 0.491);
    width: 100%;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    top: 0;
    align-items: center;
  }
  
  nav a2 {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
  }
  
  nav a2:hover {
    background: rgba(8, 176, 248, 0.552);
  }
  
  nav a2.active {
    background: var(--color-bg);
    color: var(--color-white);
  }